.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero__text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.base__span {
  background: $gradient;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__header1 {
  animation: header1 1s ease-in forwards;
}

.hero__text {
  margin: 20px 0;
}

.hero__desc {
  animation: main-text 1.5s ease-in forwards;
}

.hero__icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  animation: icons-animation 2s ease-in forwards;
}

.hero__icon {
  font-size: 2rem;
  transition: transform 0.25s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.linkedin__icon {
  color: #0077b5;
}

.file__icon {
  color: #d7221a;
}

.github__icon {
  color: black;
}

.hero__splash {
  position: absolute;
  z-index: -1;
  right: -500px;
}

.hero__me {
  animation: me-animation 1s ease-in forwards;
}

@media (max-width: 1175px) {
  .hero__text-section {
    width: 400px;
  }

  .hero__me {
    width: 400px;
    margin: 30px 0;
  }

  .hero__splash {
    right: -720px;
  }
}

@media (max-width: 1025px) {
  .hero {
    flex-direction: column;
  }
  .hero__me {
    width: 200px;
  }
  .hero__splash {
    right: -940px;
  }
}

@media (max-width: 768px) {
  .hero__me {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .hero__me {
    width: 250px;
  }

  .hero__text {
    font-size: 1rem;
  }
}
