@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.section {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.base__span {
  background: linear-gradient(to left, #38d39f, #38a4d3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.contact h1 {
  margin: 40px;
}

.form-container {
  height: 700px;
  width: 600px;
  background-color: #38a4d3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0px 0px 25px black;
}

form {
  width: 500px;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.form-input,
.form-button,
.form-textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  font-family: inherit;
}

.form-textarea {
  resize: none;
}

.form-input {
  height: 50px;
  border: none;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  transition: 0.3s;
}

.form-button:hover {
  cursor: pointer;
  background-color: #d0cde1;
}

.form-button:active {
  transform: scale(0.98);
}

.form-input:focus,
.form-button:focus,
.form-textarea:focus {
  outline: none;
}

.contact-error {
  color: red;
  border: 1px solid red;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
}

.contact__splash {
  position: absolute;
  z-index: -1;
  transform: scaleX(-1);
  left: -800px;
}

.contact-success {
  color: green;
  border: 1px solid green;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .contact__splash {
    left: -950px;
  }
}
@media (max-width: 625px) {
  .contact__splash {
    left: -980px;
  }

  .form-container {
    height: 550px;
    width: 400px;
    background-color: #38a4d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
  }

  form {
    padding: 1rem;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero__text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.base__span {
  background: linear-gradient(to left, #38d39f, #38a4d3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.hero__header1 {
  -webkit-animation: header1 1s ease-in forwards;
          animation: header1 1s ease-in forwards;
}

.hero__text {
  margin: 20px 0;
}

.hero__desc {
  -webkit-animation: main-text 1.5s ease-in forwards;
          animation: main-text 1.5s ease-in forwards;
}

.hero__icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  -webkit-animation: icons-animation 2s ease-in forwards;
          animation: icons-animation 2s ease-in forwards;
}

.hero__icon {
  font-size: 2rem;
  transition: transform 0.25s ease-in-out;
}
.hero__icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.linkedin__icon {
  color: #0077b5;
}

.file__icon {
  color: #d7221a;
}

.github__icon {
  color: black;
}

.hero__splash {
  position: absolute;
  z-index: -1;
  right: -500px;
}

.hero__me {
  -webkit-animation: me-animation 1s ease-in forwards;
          animation: me-animation 1s ease-in forwards;
}

@media (max-width: 1175px) {
  .hero__text-section {
    width: 400px;
  }

  .hero__me {
    width: 400px;
    margin: 30px 0;
  }

  .hero__splash {
    right: -720px;
  }
}
@media (max-width: 1025px) {
  .hero {
    flex-direction: column;
  }

  .hero__me {
    width: 200px;
  }

  .hero__splash {
    right: -940px;
  }
}
@media (max-width: 768px) {
  .hero__me {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .hero__me {
    width: 250px;
  }

  .hero__text {
    font-size: 1rem;
  }
}
.nav__parent {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

nav {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 100px;
  top: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__list-item {
  margin: 0 20px;
}
.nav__list-item a {
  color: black;
}
.nav__list-item:hover {
  cursor: pointer;
}

.animated__nav a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  display: inline-block;
  padding: 15px 15px;
  position: relative;
}
.animated__nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: linear-gradient(to left, #38d39f, #38a4d3);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.animated__nav a:hover:after {
  width: 100%;
  left: 0;
}

.nav__contact {
  background: linear-gradient(to left, #38d39f, #38a4d3);
  padding: 0.5rem 0.5rem;
  letter-spacing: 0.15rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.nav__contact a {
  color: white;
}

@media (max-width: 880px) {
  .nav__skills,
.nav__projects {
    display: none;
  }

  nav {
    width: 95vw;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .nav__logo h2 {
    margin-bottom: 2px;
  }
}
.projects h1 {
  margin: 20px 0;
}

.project__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px gray;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  color: white;
  flex: none;
  margin: 20px;
}
.project h3 {
  color: white;
}

.project__desc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  text-align: center;
}
.project__desc:hover {
  opacity: 1;
}

.project__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.project__buttons button {
  padding: 1rem;
  font-family: inherit;
  border-radius: 20px;
  border: none;
  width: 150px;
  transition: all 0.1s ease-in-out;
}
.project__buttons button:focus {
  outline: none;
}
.project__buttons button:active {
  transform: scale(0.98);
}
.project__buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.project__blue {
  background: rgba(56, 184, 188, 0.9);
}

.project__red {
  background: rgba(247, 65, 65, 0.9);
}

.project__green {
  background: rgba(52, 165, 48, 0.9);
}

.project__purple {
  background: rgba(155, 18, 189, 0.9);
}

@media (max-width: 500px) {
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px gray;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    color: white;
    flex: none;
    margin: 10px;
  }

  .project__desc {
    opacity: 1;
  }

  .project__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .project__buttons button {
    padding: 0.5rem;
    font-family: inherit;
    border-radius: 20px;
    border: none;
    width: 150px;
    transition: all 0.1s ease-in-out;
    margin: 10px 0;
  }
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #38a4d3;
  width: 100vw;
}
.skills h1 {
  margin: 50px 0;
  color: white;
}

.computer__screen {
  background-color: #3f3d56;
  width: 60%;
  height: 600px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px black;
}

.skills__container {
  width: 750px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 50px black;
  flex-wrap: wrap;
}

.skill-icon {
  font-size: 5rem;
  transition: all 0.5s ease-in-out;
}
.skill-icon:hover {
  transform: scale(1.2);
}

.skill__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 30%;
}
.skill__card p {
  margin: 10px 0;
}

.html-icon {
  color: #f75421;
}

.css-icon {
  color: #006cb4;
}

.js-icon {
  color: #e5ca55;
}

.react-icon {
  color: #5ed3f3;
}

.angular-icon {
  color: #d6002f;
}

.sass-icon {
  color: #c96898;
}

.node-icon {
  color: #87bf00;
}

@media (max-width: 1100px) {
  .skill-icon {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .skills__container {
    height: 450px;
    width: 350px;
  }

  .skill__card {
    flex: 50%;
  }

  .skill-icon {
    font-size: 2rem;
  }
}
footer {
  width: 100vw;
  height: 300px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer P {
  color: white;
}

.footer__links {
  margin: 50px;
  width: 30%;
}
.footer__links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer__links ul a {
  color: white;
  text-decoration: none;
}

.footer__logo {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

@media (max-width: 500px) {
  .footer__links {
    width: 100%;
    margin: 60px 0;
  }
  .footer__links ul {
    width: 100%;
  }
}
@-webkit-keyframes header1 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes header1 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes main-text {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes main-text {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes icons-animation {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes icons-animation {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes me-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes me-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */