// FONTS
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// VARS
$base-color: #f3b545;
$lighter-base: #ffd17c;
$gradient: linear-gradient(to left, #38d39f, #38a4d3);

// GLOBAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.section {
  width: 80vw;
  margin: 0 auto;
}

// COMPONENT STYLES
@import 'contact';
@import 'hero';
@import 'nav';
@import 'projects';
@import 'skills';
